* {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6989f1;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: azure;
}

@import '../assets/font/iconfont.css';
@import './common.css';
